<p id="notice"><%= notice %></p>

<h1>Lojas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CNPJ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.registration_code %></td>
        <td><%= link_to 'Exibir', store %></td>
        <td><%= link_to 'Editar', edit_store_path(store) %></td>
        <td><%= link_to 'Excluir', store, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Loja', new_store_path, class: 'btn btn-primary' %>
