<div class="row-fluid row">
  <div class="col-sm-6 span4 well">

    <%= form_for(@product) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> impossibilitaram que este item fosse salvo:</h2>

          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :price %><br>
        <div class="input-group">
          <div class="input-group-addon">R$</div>
          <%= f.text_field :price, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :store_id, "Loja" %><br>
        <%= f.select :store_id, @stores.map {|store| [store.name, store.id] },{}, {class: 'form-control'}%>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>
